{% extends "admin/layout/admin.html" %}
{% block content %}
<div id="page-wrapper">
    <div class="row ">
        <div class="col-lg-12">
            <br/>
        </div>
    </div>
    {%if flash(false)%}
    <div class="row ">
        <div class="col-lg-12">
            <div class="alert alert-{{flashCode(false)}} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">X</button>
                {{flash()}}
            </div>
        </div>
    </div>
    {%endif%}
    <div class="row ">
        <form role="form" name="hform" id="hform" method="post" action="">  
            <div class="col-lg-9">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <strong>写文章</strong>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">

                                <div class="form-group">
                                    <label>新文章</label>
                                    <input class="form-control" placeholder="在此输入新文章标题" name="title" id="title"  value="{{post.title}}">
                                </div>    
                                <div class="form-group">                                    
                                    <script type="text/plain" id='content' name="content" style="width: 100%;height: 300px">
                                        {{post.content|raw}}
                                    </script>
                                </div>                                       

                                <button type="submit" class="btn btn-success">保存</button>
                                <button type="button" class="btn btn-default" onclick="goBack('{{urlRef()}}')" >返回</button>

                            </div>
                            <!-- /.col-lg-6 (nested) -->          

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <strong>发布</strong>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label" >状态</label>                          
                            <label class="radio-inline">
                                <input type="radio" checked="checked" name="post_status"  value="publish">公开
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="post_status" value="draft">草稿
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="post_status"  value="private">私有
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label" >评论</label>                          
                            <label class="radio-inline">
                                <input type="radio" checked="checked" name="comment_status"  value="open">允许
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="comment_status" value="closed">禁止
                            </label>                            
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="post_date">发布日期</label>
                            <input type="text" class="form-control" id="post_date" name='post_date' value='{{"now"|date("Y-m-d H:i:s")}}'>
                        </div>


                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-success">发布</button>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <strong>分类</strong>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class='category_select' style="max-height: 300px;overflow:hidden;overflow-y:auto;">
                            {%for row in category%}
                            <p ><label for='bc_{{row.id}}'>{{repeat('&nbsp;&nbsp;&nbsp;&nbsp;',row.level)|raw}}<input type="checkbox" name="category[]" {%if row.id in post_category%}checked="checked"{%endif%} value="{{row.id}}" id='bc_{{row.id}}' />  {{row.name}}</label></p>
                            {%endfor%} 
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <strong>标签</strong>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
{{editor|raw}}
<!-- /#page-wrapper -->
{% endblock %}